/*
 * index.css
 * css for vonnenaut.github.io index.html
 /* */
 /* BEGIN IMPORT		*/

/* BEGIN CLASSES    */
.description {
	font-size: 15px;
	margin: 0 auto;
	padding: 0px 15px 15px 15px;
}

.project-tile {
	font-size: 125%;
	color: black;
	background-color: white;
	width: 80%;
	border-style: solid;
	border-color: transparent transparent transparent #002d4d;
	border-width: 2px;
	border-radius: 72px 8px 12px 8px;
	text-align: left;
	padding: 0px 5px 0px 12px;
	margin: 0px 0px 50px 0px;
	z-index: 2;
}

img.thumbnail {
	margin: 0;
	width: 90%;
	min-height: 2.8vw;
	border-style: solid;
	border-color: #ffe2a8 transparent transparent #002d4d;
	border-width: 1px 0px 0px 1px;
	border-radius: 8px;
	box-shadow: 6px 8px 10px black;
}

/* BEGIN ELEMENTS	*/
a {
	text-decoration: none;
	color: black;
}

body {
	font-size: 1.5vw;
	padding: 0;
	margin: 0;
}

footer {
	padding: 10px 0px 20px 0px;
}

h1, h2, h3 {
}

h1 {
	font-size: 270%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 17px;
}

h3.project-text {
	margin-bottom: 4px;
}

h4 {
	font-size: 18px;
	margin: 15px;
}

li {
	padding: 0px 20px 0px 20px;
}

/*BEGIN SECTION IDs	*/
#content-area {
	grid-area: content;
	background-color: black;
	background-image: url("../img/background_dark.jpg");
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.85;
	padding: 0px;
	margin: 20px 5px 25px 5px;
	z-index: 1;
}

#frame {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr;
	grid-gap: 10px;
	grid-template-areas:
		"nav"
		"content";
	text-align: center;
}

#navbar {
	font-size: 20px;
	grid-area: nav;
	color: black;
	background-color: white;
	position: fixed;
	display: flex;
	align-items: center;
	padding: 20px 0px 10px 0px;
	margin: 0px;
	text-transform: uppercase;
	width: 100%;
	z-index: 3;
}

#nav-list, li, #project-grid {
	text-align: center;
	display: inline-block;
	list-style: none;
	padding-right: 3px;
	margin: 0 auto;
}

#projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
	padding: 10px;
	margin: 10;
}

#project-text {
	/* display text over image */
    margin: 0 auto;
    padding: 0;
}

#welcome-section {
	font-size: 20px;
	color: white;
	text-align: left;
	height: 100vh;
	width: 125vh;
	display: table-cell;
	vertical-align: middle;
	padding-left: 25px;
	margin: 0;
}

/*BEGIN MEDIA QUERIES	*/
@media screen and (max-width: 1000px) {
	.col {
		flex: 25%;
		max-width: 50%;
	}
}

@media screen and (max-width: 770px) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 14px;
	}

	h4 {
		font-size: 10px;
	}

	p.description {
		font-size: 12px;
	}

	ul#nav-list {
		max-width: 65%;
		padding: 0;
	}

	ul#nav-list li {
		padding: 0;
	}

	.col {
		flex: 100%;
		max-width: 100%;
	}

	.profile-link {
		padding: 5px;
	}

	#content-area {
		background-image: url("../img/background_dark_mobile.jpg");
	}

	#navbar {
		font-size: 20px;
		max-height: 19%;
		padding: 0px 0px 5px 0px;
	}
}

@media screen and (max-width: 260px) {
	#navbar {
		font-size: 15px;
		min-height: 35%;
		padding: 0px 0px 5px 0px;
	}
}

/* END OF FILE:  index.css	*/