/*
 * portfolio.css
 * css for Personal Portfolio Page 
 /* */
 /* BEGIN IMPORT		*/

/* BEGIN CLASSES    */
.project-tile {
	color: white;
	padding: 10px 3px 20px 3px;
	margin: 5px 2px 10px 2px;
	border-style: outset;
	border-width: 1px 2px 4px 1px;
	width: 100%;
	z-index: 2;
}

/* BEGIN ELEMENTS	*/
a {
	text-decoration: none;
	color: black;
}

h1, h2, h3 {
}

h1 {
	font-size: 260%;
}

h2 {
	font-size: 210%;
}

h3 {
	font-size: 175%;
}

/*BEGIN SECTION IDs	*/
#content-area {
	grid-area: content;
	background-color: black;
	background-image: url("../img/bg_dk2.jpg");
	background-position: center;
	background-repeat: none;
	background-size: cover;
	opacity: 0.85;
	text-align: left;
	padding: 0px;
	margin: 20px 5px 25px 5px;
	z-index: 1;
}

#frame {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr;
	grid-gap: 10px;
	grid-template-areas:
		"nav"
		"content";
	text-align: center;
}

#navbar {
	grid-area: nav;
	color: black;
	background-color: white;
	position: fixed;
	display: flex;
	align-items: center;
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
	width: 100%;
	z-index: 3;
}

#nav-list, li {
	text-align: center;
	display: inline-block;
	list-style: none;
	padding-right: 3px;
	margin: 0 auto;
}

#projects {
	padding: 10px;
}

#welcome-section {
	color: white;
	height: 100vh;
	width: 100vh;
	display: table-cell;
	vertical-align: middle;
	padding-left: 25px;
	margin: 0;
}

/*BEGIN MEDIA QUERIES	*/
@media screen and (max-width: 600px) {
	img {
		max-width: 50%;
	}
}
/* END OF FILE:  portfolio.css	*/