/*
 * productlanding.css
 * css for Product Landing Page 
 /* */
/* BEGIN IMPORT		*/

/* BEGIN CLASSES    */

/* BEGIN ELEMENTS	*/
@media screen and (max-width: 450px) {
	body {
		font-size: 12px;
	}
}

body {
		text-align: center;
		margin: 0px;
		padding: 0px;
		background-color: #FDFDF0;
	}

div {
	padding: 0px 0px 50px 0px;
}

h2 {
	color: #034748;
	text-shadow: #001021 1px 2px 2px;
	text-align: center;
	font-size: 175%;
}

p {
	text-indent: 15px;
}
/*BEGIN SECTION IDs	*/
#body-image {
	float: right;
}

#content {
	text-align: left;
	padding-top: 150px;
	display: inline-block;
	max-width:55%;
}

#footer {
	padding: 50px;
}

#form{
	text-align: center;
}

#header {
	position: fixed;
	top: 0;
	display: flex;
	flex-shrink: 1;	
	background-color: #001021;
	opacity: 1.0;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-bottom: 10px double #034748;
	box-shadow: 2px 3px 3px;
}

#header-img {
	float: left;
	padding: 20px 0px 25px 0px;

}

#howitworks {
	flex-shrink: 2;
	text-align: center;
}

#main {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#nav-bar {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	text-align: center;
}

#nav-items {
	padding: 20px 5px 25px 5px;
}

#nav-link {
}

#stripe {

}

#video {
	height: 30%;
	width: 60%;
}
/* END OF FILE:  productlanding.css	*/