/*
 * surveyform.css
 * css for Survey Form 
 /* */
/* BEGIN IMPORT		*/

/* BEGIN CLASSES    */
.ddown {
	padding: 20px 0px 20px 0px;
}

/* BEGIN ELEMENTS	*/
div {
	padding: 10px 0px 10px 0px;
}
/*BEGIN SECTION IDs	*/
#main {
	text-align: center;
}

#dropdown {
	background-color: green;
	color: black;
	padding: 5px;
	font-size: 16px;
	border: none;
}

#header {
	text-align: center;
}

#title {
	font-size: 110%;
}

#description {
	font-style: italic;
}

#survey-form {
	display: inline-block; text-align: left;
	padding: 20px 0px 0px 0px;
	line-height: 40px;
}

#submit {
	font-size: 105%;
	padding: 5px;
}
/* END OF FILE:  surveyform.css	*/