/*
 * surveyform.css
 * css for Survey Form 
 /* */
/* BEGIN IMPORT		*/

/* BEGIN CLASSES    */
.ddown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: green;
	min-width: 160px;
	box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
/* BEGIN ELEMENTS	*/


/*BEGIN SECTION IDs	*/
#dropdown {
	background-color: blue;
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
}

#title {

}

#description {
	font-style: italic;
}

#survey-form {
	
}
/* END OF FILE:  surveyform.css	*/