/*
 * technicaldoc.css
 * css for Product Landing Page 
 /* */
 /* BEGIN IMPORT		*/

/* BEGIN CLASSES    */
.main-section {
	grid-area: info;
	padding: 50px;
}

/* BEGIN ELEMENTS	*/
ul {
	max-width: 80%;
}
/*BEGIN SECTION IDs	*/
#main-body {
	display: grid;
	grid-template-columns: minmax(300px, auto) 1fr;
	grid-gap: 10px;
	grid-template-areas:
		"nav info";
}

#main-doc {
	grid-area: info;
	width: 100%;
	text-align: center;
}

#navbar {
	grid-area: nav;
	position: fixed;
}

@media screen and (max-width: 600px) {
	/* move navbar to left side on bigger screens; 
		otherwise, keep it at top */
	#main-body {
		grid-template-columns: 1fr;
		grid-template-areas:
			"nav"
			"info";
	}

	#navbar {
		position: inherit;
	}
}
/* END OF FILE:  technicaldoc.css	*/