/*
 * css for Chris Cornell Tribute Page
 * */
/* BEGIN IMPORT		*/

/* BEGIN ELEMENTS	*/

/* a:hover must come after a:link and a:visited
 *    a:active must come after a:hover; */

.badge {
	font-size:95%;
}

.glyphicon {
	font-size:80%;
	margin-right: 10px;
}

.text-primary {
	color: #000000;
}

.photo {
	border-radius: 20px;
	margin-bottom: 25px;
	box-shadow: 3px 3px 5px;
}

.right-side-photos {
	margin-top: 55px;
}

.title {
	text-shadow: 1px 2px 6px;
	padding-top: 3px;
	padding-bottom: 0px;
	background-color: #FFFFFF;
}

body {
	font-family: 'PT+Sans', serif;
	font-size:175%;
	background: url('./img/collage.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFFFFF;
	padding: 0;
	border: 0;
	margin: 0 auto;
	background-size: cover;
	background-color: #000000;	
}

div {
	padding: 0px;
}

h1 {
	padding-top: 5px;
	font-size: 340%;
}

h2 {
	font-size: 290%;
}

h3 {
	font-size: 200%;
}

/* END ELEMENTS	*/


/*BEGIN Section IDs	*/
/* END IDs */


/* BEGIN CLASSES: 	*/
/*					*/
/* END CLASSES		*/

/*
 *  * 
 *   */
/* END OF FILE:  tribute_page.css	*/
